.env
.idea/
.vscode/
node_modules/
build/
tmp/ 
dist/
*.log
*.lock
logs/
*-audit.json
public/caseFile/*
public/fieldExecutiveProfilePic/*
public/fieldExecutiveDocument/*
public/invoices/invoice_files/*
public/invoices/invoiceExcelFiles/*
package-lock.json
/package-lock.json
/.env




